<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.novasoftware.checksheets"
        versionCode = "11" 
        version     = "1.1.5" >

    <name>Check Sheets</name>

    <description>
        Developed By Nova
    </description>

    <author href="http://phonegap.com" email="lict@novasoftware.cn">
        Nova Team
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />
    <feature name="http://api.phonegap.com/1.0/network" />
    <feature name="http://api.phonegap.com/1.0/camera" />
    <feature name="http://api.phonegap.com/1.0/notification" />
    <feature name="http://api.phonegap.com/1.0/geolocation" />
    <feature name="http://api.phonegap.com/1.0/media" />
    <feature name="http://api.phonegap.com/1.0/contacts" />
    <feature name="http://api.phonegap.com/1.0/file" />
    <feature name="http://api.phonegap.com/1.0/battery" />
    
    <feature name="debug-server" required="true">
       <param name="domain" value="http://192.168.191.1:8080"/>
       <param name="key" value="anonymous"/>
    </feature>
           
    <preference name="phonegap-version" value="3.5.0" />     
    <preference name="target-device" value="tablet" />
    <preference name="fullscreen" value="true" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="WebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="orientation" value="landscape" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false"/>
    <preference name="iosExtraFilesystems" value="library,library-nosync,documents,documents-nosync,cache,bundle,root" />
    <preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,cache,cache-external,root" />

    <gap:platform name="ios" />
    <gap:platform name="android" />

    <gap:splash src="splash.png" />

    <gap:plugin name="org.apache.cordova.device"/>
    <gap:plugin name="org.apache.cordova.splashscreen"/>
    <gap:plugin name="org.apache.cordova.dialogs"/>
    <gap:plugin name="org.apache.cordova.network-information"/>
    <gap:plugin name="org.apache.cordova.inappbrowser"/>
    <gap:plugin name="de.appplant.cordova.plugin.email-composer"/>
    <gap:plugin name="net.bgta.phonegap.plugin.appversion" version="1.1.1" />
    <gap:plugin name="org.apache.cordova.file" version="1.3.1" />
<!--     <gap:plugin name="org.apache.cordova.camera" version="0.3.2" /> -->
    <gap:plugin name="org.apache.cordova.core.camera"/>
    <gap:plugin name="org.apache.cordova.file-transfer" version="0.4.6" />
    
    <icon src="icon.png" />

    <access origin="http://*"/>

</widget>